<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Rendezvous Reminder</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Linking external stylesheet -->
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1>Rendezvous Reminder</h1>
      </header>

      <section class="form-section">
        <form class="email-form" th:action="@{/submit-email}" method="post">
          <p>Enter your email to receive notifications on cancellations:</p>
          <input
            type="email"
            id="sign-up-email"
            th:field="*{signUpEmail.emailAddress}"
            required
          />
          <button class="btn" type="submit">Sign Up</button>
        </form>
      </section>

      <section class="form-section">
        <form class="email-form" th:action="@{/unsubscribe}" method="post">
          <p>Enter your email to unsubscribe from notifications:</p>
          <input
            type="email"
            id="unsubscribe-email"
            th:field="*{unsubscribeEmail.emailAddress}"
            required
          />
          <button class="btn unsubscribe-btn" type="submit">Unsubscribe</button>
        </form>
      </section>
    </div>
  </body>
</html>
